.jumbotron{
    background-color: #00B0F0;
    color: #d4cece;
    margin-top: 50px;
}

footer{
    padding: 30px 10px 10px 10px;
    background-color: #F2F2F2;
    color:#00B0F0;
    margin-bottom: 20px;
    margin-top: 40px;
}

.estilo-propio{
    flex: 1 150px;
    padding: 15px 15px 15px 15px;
    margin-top: 10px;
}

.boton{
    width: 100%;
    border-radius: 0px;
}
   
.distancia-icon{
    padding-right: 8px;
}

.tab-content{
    padding-top: 10px;
}

.myTab{
    background-color: #00B0F0;
}