$azulito:  #00B0F0;
$hueso: #F2F2F2;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color:$azulito;
    color: $hueso;
    @include margenes(50px, 0 px)
}

footer{
    padding: 30px 10px 10px 10px;
    background-color: $hueso;
    color: $azulito;
    @include margenes(40px, 20px)
}

.estilo-propio{
    flex: 1 150px;
    padding: 15px 15px 15px 15px;
    margin-top: 10px;
}

.boton{
    width: 100%;
    border-radius: 0px;
}
   
.distancia-icon{
    padding-right: 8px;
}

.tab-content{
    padding-top: 10px;
}

.myTab{
    background-color: $azulito;
}